CompileFlags:
  Add:
    - -std=c++17
    - -DDEBUG
    - -DAXIUM_EXPORTS

    - --cuda-path=C:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v12.9
    - --cuda-gpu-arch=sm_86
    - -IC:\Program Files\NVIDIA GPU Computing Toolkit\CUDA\v12.9\include

    - -I../include
    - -I../../include

  Remove:
    - -forward-unknown-to-host-compiler
    - -Xcompiler= /EHsc
    - -Xcompiler= -Zi -Ob0 -Od /RTC1
    - --generate-code=arch=compute_86,code=[compute_86,sm_86]
    - -Xcompiler=-MDd
    - --expt-relaxed-constexpr
    - -rdc=true
    - -Xcompiler=-FdCMakeFiles\Axium.dir\,-FS